//全局颜色
$mainColor: #ff699c;
$secColor: #fd9fbe;
$secColor2: #ff5f3e;
$bgColor: #f4f4f4;
$mainText: #666;
$secText: #999;

//全局样式
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.after {
  position: relative;
  margin-bottom: 10px;
  &::after {
    content: "";
    height: 10px;
    width: 100%;
    background-color: #f4f4f4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
  }
}

@for $i from 1 to 10 {
  .padding-top-#{$i} {
    padding-top: 5px * $i;
  }
  .padding-bottom-#{$i} {
    padding-bottom: 5px * $i;
  }
  .padding-left-#{$i} {
    padding-left: 5px * $i;
  }
}

//css3属性兼容
@mixin webkit($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

